<!DOCTYPE html>
<html>
  <head>
    <title>My Travel Guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'bootstrap' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="devise-container container-fluid">
      <div class="row justify-content-center">
        <div class="col-4">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
